Checks: >
  *,
  misc-magic-numbers,
  modernize-*,
  modernize-use-nodiscard,
  bugprone-*,
  cppcoreguidelines-*,
  performance-*,
  -clang-analyzer-alpha.*,
  -llvmlibc-callee-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -llvmlibc-implementation-in-namespace,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type,
  -fuchsia-default-arguments-declarations,
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
